<section class="gallery">
    <div class="galleryItem">
        <div class="stack twisted">
            <a href="http://interpc.pl/~mlewinterpc/myschoolofenglish/images/nav/small/2580.jpg">
                <img src="http://interpc.pl/~mlewinterpc/myschoolofenglish/images/nav/small/2580.jpg"/>
            </a>
        </div>
    </div>
    <div class="galleryItem">
        <div class="stack twisted">
            <a href="http://interpc.pl/~mlewinterpc/myschoolofenglish/images/nav/small/2607.jpg">
                <img src="http://interpc.pl/~mlewinterpc/myschoolofenglish/images/nav/small/2607.jpg"/>
            </a>
        </div>
    </div>
    <div class="galleryItem">
        <div class="stack twisted">
            <a href="http://interpc.pl/~mlewinterpc/myschoolofenglish/images/nav/small/2639.jpg">
                <img src="http://interpc.pl/~mlewinterpc/myschoolofenglish/images/nav/small/2639.jpg"/>
            </a>
        </div>
    </div>
    <div class="galleryItem">
        <div class="stack twisted">
            <a href="http://interpc.pl/~mlewinterpc/myschoolofenglish/images/nav/small/2746.jpg">
                <img src="http://interpc.pl/~mlewinterpc/myschoolofenglish/images/nav/small/2746.jpg"/>
            </a>
        </div>
    </div>
    <div class="galleryItem">
        <div class="stack twisted">
            <a href="http://interpc.pl/~mlewinterpc/myschoolofenglish/images/nav/small/2829.jpg">
                <img src="http://interpc.pl/~mlewinterpc/myschoolofenglish/images/nav/small/2829.jpg"/>
            </a>
        </div>
    </div>
    <div class="galleryItem">
        <div class="stack twisted">
            <a href="http://interpc.pl/~mlewinterpc/myschoolofenglish/images/nav/small/2880.jpg">
                <img src="http://interpc.pl/~mlewinterpc/myschoolofenglish/images/nav/small/2880.jpg"/>
            </a>
        </div>
    </div>
    <div class="galleryItem">
        <div class="stack twisted">
            <a href="http://interpc.pl/~mlewinterpc/myschoolofenglish/images/nav/small/2771.jpg">
                <img src="http://interpc.pl/~mlewinterpc/myschoolofenglish/images/nav/small/2771.jpg"/>
            </a>
        </div>
    </div>
</section>