<section>
    <nav class="row">

        <section id="nav-offer" class="{% cycle '6u', '6u$' %} 12u(small)">
            <header>
                <h2><a href="/offer">Oferta</a></h2>
            </header>
            <footer>
                <ul class="actions">
                    <li><a href="/offer" class="button">Zobacz naszą ofertę</a></li>
                </ul>
            </footer>
        </section>

        <section id="nav-workshops" class="{% cycle '6u', '6u$' %} 12u(small)">
            <header>
                <h2><a href="/workshops">Warsztaty</a></h2>
            </header>
            <footer>
                <ul class="actions">
                    <li><a href="/workshops" class="button">Sprawdź jakie prowadzimy warsztaty</a></li>
                </ul>
            </footer>
        </section>

        <section id="nav-news" class="{% cycle '6u', '6u$' %} 12u(small)">
            <header>
                <h2><a href="/news">Aktualności</a></h2>
            </header>
            <footer>
                <ul class="actions">
                    <li><a href="/news" class="button">Dowiedz się o nas więcej</a></li>
                </ul>
            </footer>
        </section>

        <section id="nav-pricing" class="{% cycle '6u', '6u$' %} 12u(small)">
            <header>
                <h2><a href="/pricing">Cennik</a></h2>
            </header>
            <footer>
                <ul class="actions">
                    <li><a href="/pricing" class="button">Sprawdż ceny lekcji</a></li>
                </ul>
            </footer>
        </section>

        <section id="nav-contact" class="{% cycle '6u', '6u$' %} 12u(small)">
            <header>
                <h2><a href="/contact">Kontakt</a></h2>
            </header>
            <footer>
                <ul class="actions">
                    <li><a href="/contact" class="button">Skontaktuj się znami</a></li>
                </ul>
            </footer>
        </section>

    </nav>
</section>