<blockquote>
    <p>
        Serdecznie polecam naukę w szkole p. Bachanek. Moja 6 letnia córka 
        uczęszcza tam od września 2015 roku i widzę u niej ogromne postępy, sama 
        dopytuje kiedy pojedzie do pani Gosi - grupy są małe, atmosfera przyjazna.
        Uważam, że szkole można się wiele nauczyć i przy tym dobrze bawić, 
        uważam, że to szkoła najlepsza z możliwych do wyboru i dlatego z całą 
        pewnością córka będzie kontynuować naukę.
    </p>
    <p>
        Asia Skrzypiec 
    </p>
</blockquote>

<blockquote>
    <p>
        Angielskiego można się uczyć wszędzie... ale dla mnie liczą się ludzie i 
        atmosfera, dlatego mój wybór padł na My school of English. Kompetencja i 
        osobowość nauczyciela, niebanalne metody i kreatywna motywacja to coś, 
        co wyróżnia My school of English spośród innych bytomskich szkół językowych. 
    </p>
    <p>
        Marta Chrobak
    </p>
</blockquote>