---
layout: default
---

<div id="main" class="{{page.background}}">
    
        <ul class="egmenu">
            <li><a href="/">O&nbsp;szkole</a></li>
            <li><a href="/offer">Oferta</a></li>
            <li><a href="/workshops">Warsztaty</a></li>
            <li><a href="/courses">Wyjazdy</a></li>
            <li><a href="/news">Aktualności</a></li>
            <li><a href="/pricing">Cennik</a></li>
            <li><a href="/partners">Partnerzy</a></li>
            <li><a href="/contact">Kontakt</a></li>
        </ul>
    
    <img id="logo" 
        src="http://interpc.pl/~mlewinterpc/myschoolofenglish/images/logo.png" 
        alt="My school of English logo">
    
    <article>
        <h2>{{ page.title }}</h2>
        <hr>

        {{ content }}

    </article>
    <section>

        {% include gallery.html %}

    </section>
</div>